<head>
<link rel="stylesheet" type="text/css" href="colorized.css">
</head>
<body class="light" style="font-family:Menlo, monospace">

<div class="dark" style="padding:10px 20px">
<p>primary</p>
<p class="emphasis" >emphasis  </p>
<p class="secondary">secondary </p>
<p class="highlight">highlight </p>
<p class="yellow"   >yellow </p>
<p class="orange"   >orange </p>
<p class="red"      >red    </p>
<p class="magenta"  >magenta</p>
<p class="violet"   >violet </p>
<p class="blue"     >blue   </p>
<p class="cyan"     >cyan   </p>
<p class="green"    >green  </p>
</div>

<div class="light" style="padding:10px 20px">
<p>primary</p>
<p class="emphasis" >emphasis  </p>
<p class="secondary">secondary </p>
<p class="highlight">highlight </p>
<p class="yellow"   >yellow    </p>
<p class="orange"   >orange    </p>
<p class="red"      >red       </p>
<p class="magenta"  >magenta   </p>
<p class="violet"   >violet    </p>
<p class="blue"     >blue      </p>
<p class="cyan"     >cyan      </p>
<p class="green"    >green     </p>
</div>

</body>
