<head>
<link rel="stylesheet" type="text/css" href="colorized.css" />
</head>
<body class="base3">
<div class="base03" style="font-family:Menlo, monospace; padding:10px 20px">
<p class="base1"  >base1  </p>
<p class="base0"  >base0  </p>
<p class="base00" >base00 </p>
<p class="base01" >base01 </p>
<p class="yellow" >yellow </p>
<p class="orange" >orange </p>
<p class="red"    >red    </p>
<p class="magenta">magenta</p>
<p class="violet" >violet </p>
<p class="blue"   >blue   </p>
<p class="cyan"   >cyan   </p>
<p class="green"  >green  </p>
</div>

<div class="base02" style="font-family:Menlo, monospace; padding:10px 20px">
<p class="base1"  >base1  </p>
<p class="base0"  >base0  </p>
<p class="base00" >base00 </p>
<p class="base01" >base01 </p>
<p class="yellow" >yellow </p>
<p class="orange" >orange </p>
<p class="red"    >red    </p>
<p class="magenta">magenta</p>
<p class="violet" >violet </p>
<p class="blue"   >blue   </p>
<p class="cyan"   >cyan   </p>
<p class="green"  >green  </p>
</div>

<div class="base2" style="font-family:Menlo, monospace; padding:10px 20px">
<p class="base01" >base01 </p>
<p class="base00" >base00 </p>
<p class="base0"  >base0  </p>
<p class="base1"  >base1  </p>
<p class="yellow" >yellow </p>
<p class="orange" >orange </p>
<p class="red"    >red    </p>
<p class="magenta">magenta</p>
<p class="violet" >violet </p>
<p class="blue"   >blue   </p>
<p class="cyan"   >cyan   </p>
<p class="green"  >green  </p>
</div>

<div class="base3" style="font-family:Menlo, monospace; padding:10px 20px">
<p class="base01" >base01 </p>
<p class="base00" >base00 </p>
<p class="base0"  >base0  </p>
<p class="base1"  >base1  </p>
<p class="yellow" >yellow </p>
<p class="orange" >orange </p>
<p class="red"    >red    </p>
<p class="magenta">magenta</p>
<p class="violet" >violet </p>
<p class="blue"   >blue   </p>
<p class="cyan"   >cyan   </p>
<p class="green"  >green  </p>
</div>

</body>
